#SearchEngineManifest ul,
#SearchEngineManifest ul li {
    list-style-type: none;
    position: relative;
    margin-left: 20px;
}

#SearchEngineManifest span.plusMinus {
    display: line;
    cursor: pointer!important;
    font-family: monospace;
    display: block;
    float: left;
}

#SearchEngineManifest .doesNotHaveEntries  * {
    color: #999!important;
}
#SearchEngineManifest h3, #SearchEngineManifest h4 {
    margin: 0;
    padding: 0;
}
#SearchEngineManifest li {padding: 10px;}
