---
Name: my_search_simple_smart_searcheableobjects
---
SilverStripe\Assets\File:
  extensions:
    - Sunnysideup\SearchSimpleSmart\Extensions\SearchEngineMakeSearchable
  search_engine_full_contents_fields_array:
    1:
      - Title
    2:
      - Content

MyVendor\MyPackage\HomePage:
  search_engine_full_contents_fields_array:
    1:
      - Title
      - MenuTitle
      - HeaderCustomHeading
      - HeaderCustomSubHeading
    2:
      - Content
      - MyThirdDataObject.Title
