---
Name: my_search_simple_smart_example
---


PageController:
  extensions:
    - Sunnysideup\SearchSimpleSmart\Extensions\SearchEngineContentControllerExtension

SearchEngineCoreSearchMachine:
  class_name_for_search_provision: SearchEngineProviderMYSQLFullText


SearchEngineKeyword:
  remove_all_non_alpha_numeric: false
  keyword_list_folder_name: "_searchengine_json"

SearchEngineMakeSearchable:
  search_engine_default_level_one_fields:
    - Title
    - Name
    - FirstName
    - Surname
    - MetaTitle
    - MenuTitle
    - Email
  search_engine_default_excluded_db_fields:
    - Password

SearchEngineFullContent:
  remove_all_non_alpha_numeric: false

SearchEngineKeywordFindAndRemove:
  add_stop_words: true

SearchEngineDataObject:
  classes_to_exclude:
    - ErrorPage
    - RedirectorPage
    - VirtualPage

SearchEngineDataObjectToBeIndexed:
  cron_job_running: true

SearchEngineSortByDescriptor:
  class_groups:
    1:
      - HomePage
      - CoolPage
    2:
      - NotSoInterstingPage
      - Page
  class_group_limits:
    1: 12
    2: 20

SearchEngineBasicForm:
  jquery_source: "foo/bar/jquery.js"
  full_results_page_type: "MySearchResultsPage"
  sort_by_options:
    - SearchEngineSortByRelevance
    - SearchEngineSortByLastEdited
  filter_for_options:
    - SearchEngineFilterForClassName
    - SearchEngineFilterForRecent

SearchEngineFilterForClassName:
  classes_to_include:
    - MyDataObjectFooBarThing
    - MyOtherPage
# OR !
SearchEngineFilterForClassName:
  classes_to_include:
    MyDataObjectFooBarThing: 'Title goes here'
    MyOtherPage: 'Title goes here'
