---
Name: my_search_simple_smart_example
---


PageController:
  extensions:
    - Sunnysideup\SearchSimpleSmart\Extensions\SearchEngineContentControllerExtension

Sunnysideup\SearchSimpleSmart\Core\SearchEngineCoreSearchMachine:
  class_name_for_search_provision: SearchEngineProviderMYSQLFullText


Sunnysideup\SearchSimpleSmart\Model\SearchEngineFullContent:
  remove_all_non_alpha_numeric: false
  remove_all_non_letters: false

Sunnysideup\SearchSimpleSmart\Api\ExportKeywordList:
  keyword_list_folder_name: "_searchengine_json"


Sunnysideup\SearchSimpleSmart\Model\SearchEngineKeywordFindAndRemove:
  add_stop_words: true

Sunnysideup\SearchSimpleSmart\Model\SearchEngineDataObject:
  classes_to_exclude:
    - ErrorPage
    - RedirectorPage
    - VirtualPage
  classes_to_include:
    - ContentPage
  search_engine_default_level_one_fields:
    - Title
    - Name
    - FirstName
    - Surname
    - MetaTitle
    - MenuTitle
    - Email
  search_engine_default_excluded_db_fields:
    - Password
  search_engine_date_fields_for_sorting:
    - PublishDate
    - Created
    - LastEdited



Sunnysideup\SearchSimpleSmart\Model\SearchEngineDataObjectToBeIndexed:
  cron_job_running: true

Sunnysideup\SearchSimpleSmart\Abstractions\SearchEngineSortByDescriptor:
  class_groups:
    1:
      - HomePage
      - CoolPage
    2:
      - NotSoInterstingPage
      - Page
  class_group_limits:
    1: 12
    2: 20

Sunnysideup\SearchSimpleSmart\Forms\SearchEngineBasicForm:
  jquery_source: "foo/bar/jquery.js"
  full_results_page_type: "MySearchResultsPage"
  sort_by_options:
    - Sunnysideup\SearchSimpleSmart\Sorters\SearchEngineSortByRelevance
    - Sunnysideup\SearchSimpleSmart\Sorters\SearchEngineSortByDate
    - Sunnysideup\SearchSimpleSmart\Sorters\SearchEngineSortByLastEdited
  filter_for_options:
    - Sunnysideup\SearchSimpleSmart\Filters\SearchEngineFilterForClassName
    - Sunnysideup\SearchSimpleSmart\Filters\SearchEngineFilterForRecent

Sunnysideup\SearchSimpleSmart\Filters\SearchEngineFilterForClassName:
  classes_to_include:
    - MyDataObjectFooBarThing
    - MyOtherPage
# OR !
Sunnysideup\SearchSimpleSmart\Filters\SearchEngineFilterForClassName:
  classes_to_include:
    MyDataObjectFooBarThing: 'Title goes here'
    MyOtherPage: 'Title goes here'
